@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1628048038024') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-bottom:before {
  content: "\e667";
}

.icon-arrow-left-circle:before {
  content: "\e668";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-right:before {
  content: "\e66c";
}

.icon-direction-up:before {
  content: "\e66d";
}

.icon-direction-left:before {
  content: "\e66e";
}

.icon-navigation:before {
  content: "\e67a";
}

.icon-select:before {
  content: "\e67e";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-arrow-up-filling:before {
  content: "\e688";
}

.icon-arrow-down-filling:before {
  content: "\e689";
}

.icon-arrow-left-filling:before {
  content: "\e68a";
}

.icon-arrow-right-filling:before {
  content: "\e68b";
}

.icon-smile-filling:before {
  content: "\e68c";
}

.icon-user-filling:before {
  content: "\e68d";
}

.icon-meh-filling:before {
  content: "\e68e";
}

.icon-cry-filling:before {
  content: "\e68f";
}

.icon-home-filling:before {
  content: "\e690";
}

.icon-fabiao:before {
  content: "\e6f3";
}

.icon-fasong:before {
  content: "\e6f4";
}

.icon-anquan:before {
  content: "\e6f5";
}

.icon-bianji:before {
  content: "\e6f6";
}

.icon-paizhao:before {
  content: "\e6f7";
}

.icon-dianzan:before {
  content: "\e6f8";
}

.icon-rili:before {
  content: "\e6f9";
}

.icon-gengduo:before {
  content: "\e6fa";
}

.icon-laji:before {
  content: "\e6fb";
}

.icon-hezuo:before {
  content: "\e6fc";
}

.icon-qingli:before {
  content: "\e6fd";
}

.icon-sixin:before {
  content: "\e6fe";
}

.icon-shuxie:before {
  content: "\e6ff";
}

.icon-shezhi:before {
  content: "\e700";
}

.icon-tongzhi:before {
  content: "\e701";
}

.icon-wode:before {
  content: "\e702";
}

.icon-xiaoxi:before {
  content: "\e703";
}

.icon-shuaxin:before {
  content: "\e704";
}

.icon-zhibo:before {
  content: "\e705";
}

