// fontColor
$blackTextColor: #000000;
$normalTextColor: #333333;
$lightTextColor: #999999;
$redTextColor: #FF6C2B;
$highlightColor: #E1AB20;

// borderColor
$normalBorderColor: #EFEFEF;
$separatorColor: #EAEAEA;
$imageStokeColor: #D8D8D8;

// bgColor
$highlightBgColor: #feed84;
$globalBgColor: #f5f5f5;
$whiteBgColor: #ffffff;
$noBgColor: transparent;
$imgBgColor: #f2f2f2;

// fontWeight
$fontWeightBold: 600;
$fontWeightMedium: 500;
$fontWeightLight: 300;

// Height
$profiledScreenBottomSegmentHeight: 68px;
